.intro {
    /*background-image: url(img/intro_bg.jpg);*/
    background-color: #000;
    border-bottom: 2px solid grey;
    text-align: center
}

.intro .icons a:link {
    color: #bfbfbf;
}

.intro .icons a:visited {
    color: #bfbfbf;
}

.intro .icons a:hover {
    color: #efefef;
}

.intro .icons i {
    margin: 20px;
}

.intro h1 {
    font-family: "Bitter", sans-serif;
    font-size: 24px;
    color: #ebebeb;
}

.intro p {
    font-family: "Bitter", sans-serif;
    font-size: 20px;
    color: #ebebeb;
}

.intro img {
    margin: 20px;
    border: 2px solid #aaaaaa;
}

.university {
    padding: 20px;
    background-color: #ffffff;
}

.university h1 {
    font-size: 20px;
    
    color: #000;
    font-family: 'Bitter', sans-serif;
}
.university .thumbnail {
    background-color: transparent;
    border: none;
}

.university img {
    background-color: transparent;
    padding: 10px;
}

.university .bb-logo {
    margin: 30px;
}

.companies {
    margin: 20px;
}