.main

  .photo
    display block
    margin-left auto
    margin-right auto
    margin-top 40px
    border-radius 100px
    box-shadow 0px 2px 4px

  .blurb
    font-weight lighter
    @media (min-width:512px) {
      font-size 30px
      margin 5vw 10vw
    }
    @media (max-width:512px) {
      font-size 24px
      margin 5vw 5vw
    }
    text-align center

    a
      font-weight normal
      color #13078F
      text-decoration none

  .icons
    margin 20px 2vw

    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    flex-direction row

    div
      -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;         /* OLD - Firefox 19- */
      width: 20%;               /* For old syntax, otherwise collapses. */
      -webkit-flex: 1;          /* Chrome */
      -ms-flex: 1;              /* IE 10 */
      flex: 1;

    a
      @media (min-width: 512px) {
        font-size 72px
      }
      @media (max-width: 512px) {
        font-size 52px
      }
      display inherit
      text-align center
      text-decoration none
      color #4A90E2
      text-shadow 0 2px 2px #ddd
