
*
  font-family 'Helvetica'

a
  text-decoration none
  &:hover
    opacity 0.6
    transition: opacity 0.2s ease-in

.nav
  margin-top 24px
  margin-left 24px
  a
    font-weight lighter

    color #9B9B9B

    .home-link
      font-size 24px

    .resume-link
      font-size 18px
      margin-left 32px

.main
  a
    color #13078f
    // border-bottom: 1px dashed #999;

  .section
    margin-left 16vw
    margin-right 16vw
    margin-top 2vw
    margin-bottom 2vw

    h1
      font-size 24px
      font-weight lighter

    .title
      font-size 18px
      font-weight bold

      .position
        font-weight normal

    .location, .details
      font-size 16px
      font-weight lighter

    .location
      margin-top 2px
      color #9B9B9B

    .details
      ul
        list-style-type square
        margin-top 0px
        margin-left 0
        padding-left 16px

  .skills
    .title
      font-size 16px
    .details
      ul
        list-style-type none
        padding 0
        margin 0

        li
          margin-top 2px
