.main
  font-family 'Helvetica'

  a
    color #13078f

  .section
    @media (min-width: 512px) {
      margin-left 16vw
      margin-right 16vw
    }
    @media (max-width: 512px) {
      margin-left 24px
      margin-right 24px
    }

    margin-top 2vw
    margin-bottom 2vw

    h1
      font-size 24px
      font-weight lighter

    .title
      font-size 18px
      font-weight bold

      .position
        font-weight normal

    .location, .details
      font-size 16px
      font-weight lighter

    .location
      margin-top 2px
      color #9B9B9B

    .details
      ul
        list-style-type square
        margin-top 2px
        margin-left 0
        padding-left 17px

  .skills
    .title
      font-size 16px
    .details
      ul
        list-style-type none
        padding 0
        margin 0

        li
          margin-top 2px
